<web-app>
<servlet>
<servlet-name>InsertDemoo</servlet-name>
<servlet-class>InsertDemoo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>InsertDemoo</servlet-name>
<url-pattern>/s5</url/pattern>
</servlet-mapping>


<servlet>
<servlet-name>s1</servlet-name>
<servlet-class>s1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s1</servlet-name>
<url-pattern>/TestServlet</url/pattern>
</servlet-mapping>



</web-app>