.ReviewReceived{
	border-style: outset;
	color: slateblue;
	position: absolute;
	top: 5%;
	left: 90%;
	
}

.Review{
	border-style: groove;
	color: slateblue;
	position: absolute;
	top: 35%;
	left: 37%;
	
}


.Rating{
	border-style: groove;
	color: slateblue;
	position: absolute;
	top: 35%;
	left: 35%;
	
}